<div class="container col-md 6 text-center bg-light"></div>
<form action="/login" method="post" class="card bg-black p-3">

<h3 class="text-primary">Use Login</h3>
<div class="form-group mt-3">
    <input 
    class="form-control" 
    type="text"
     name="username" 
     required 
     placeholder="Enter username"/>
</div>

<div class="form-group mt-3">
    <h5 "text-success">Password</h5>
    <input class="form-control" "password" name="password" required />
</div>

<div class="form-group mt-3">
    <input class="btn btn-danger" type="submit" value="Login" />
</div>
</form>